@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(34, 78, 9);
  color: white;
}
