@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(34, 78, 9);
  color: white;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  height: 100px;
  width: 100px;
}
